
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 62.5%; // 62.5% from 16px is 10px, this is 1rem.
    line-height: 5.3;
    color: #777;
  }