.tester-manage-results {
    align-items: center;
}

.tester-manage-filter1-results {
    margin-top: 10rem;
}

.FailsChart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.pie-chart {
    width: 80%;  
    height: 40%;
    margin-left: 10%;  
}

.column-chart {
    width: 80%;  
    height: 40%; 
    margin-right: 10%;  
}

.sidenav {
    position: relative;    
    width: 10rem;
    padding: 1.6rem;    
    z-index: 10;

    & button {
        position: absolute;
        left: -14rem;
        transition: 0.8s;
        border-radius: 0 5px 5px 0;
        width: 17rem;
        height: 3rem;
        font-size: 2rem;
        font-weight: 500;
        color: rgb(49, 35, 35);
        cursor: pointer;
        
        &:hover {            
            left: 0rem;
        }
    }
    
    /* The about link: 20px from the top with a green background */
    &__about {
        top: 20px;
        background-color: #04AA6D;
    }
    
    &__blog {
        top: 80px;
        background-color: #2196F3; /* Blue */
    }
    
    &__projects {
        top: 140px;
        background-color: #f44336; /* Red */
    }
    
    &__contact {
        top: 200px;
        background-color: #555 /* Light Black */
    }
}

.manage-search-form {
    display: block;
    width: 80%;
}

.tester-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    margin-bottom: 2rem;

    &__p {
        font-size: 2rem;
        margin-right: 2rem;
    }

    &__input-field {
        padding: 0.3rem;
        border: 2px solid $button-color;
        width: 10rem;
        color: $color-red;
        font-weight: 400;
        text-align: center;
        border-radius: 3px;
    }

    &__search-button {
        margin-left: 2rem;
        background-color: white;
        border: 2px solid $button-color;
        color: $color-red;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
        transition-duration: 0.2s;
        padding: 0.3rem;

            &:hover {
                background-color: $button-color;
                color: white;
            }
    }
}
