.search-button {
    background-color: $color-primary;
    border: 2px solid $button-color;
    color: rgb(182, 154, 29);
    font-weight: 600;
    padding: 1.5rem 3.2rem;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 3.6rem;
    border-radius: 8px;
    transition-duration: 0.2s;
    margin-top: 5%;
    align-items: center;

    &:hover {
        background-color: $button-color;
        color: white;
      }
  }
  
  