.test-table {
    // position: relative;
    // top: 35rem;
    // left: 50%;
    // transform: translate(-50%, -50%);
    &:last-child {
        padding-bottom: 10rem;
    }

    &--p1db {
        width: 130%;        
    }

    &__p {
        font-size: 0.9rem ;
    }
}

.tests__p{
    font-size: 1.2rem;
}

.results-table {
    margin-top: 1rem;
    position: relative;
    right: -60%;
    transform: translate(-100%);
    border: 1px solid black;

    &--p1db {
        font-size: 1rem;
        right: -70%;
        width: 60%;
    }

    &--inside {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border-collapse: collapse;
    }

    &__fulllinkdl {
        width: 90%;
        right: -50% ;
        transform: translate(-50%);
        font-size: 1rem;
        margin-bottom: 3rem;
    }

    &__fulllinkgeneral {
        right: -50% ;
        transform: translate(-50%);
        font-size: 1rem;
        margin-bottom: 3rem;
        width: 80%;
    }
}

