
.select-container--options {
  width: 90%;    
  border-radius: 1rem;
  font-size: 2rem;
  background-color: $button-color;
  color: $color-primary;
  padding: 3px 5px;

  &:active {
    color: red;
    border-radius: 1rem 1rem 0 0;
  }
}

.choose-btn {
  margin-top: -2rem;
}

.search-units {
  margin-top: 2rem !important;
  width: 80%;
  position: relative;
  left: 15%;
}

