.App {
    text-align: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
  
  
  &-header {
    // background-color: $color-background-primary;
    // min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: $color-black // $header-color;
  }
  
  &-link {
    color: #61dafb;
  }

}
