.home-page {
    display: flex;
    flex-wrap: wrap;
}
.home-page > * {
    flex: 5 3 160px;
}



  
.db-text {
    position: absolute;
    top: 20%;
    left: 5%;
    color: crimson;
    text-align: left;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 1rem;
    max-width: 40rem;
    margin: 1.6rem;
}

.db-text-header {
    margin-bottom: 3rem;
}

.hisky-db-text {
    font-size: 1.4rem;
}

.box {
    display: flex;
    flex-wrap: wrap;
}
.box > * {
    flex: 1 1 16rem;
    background-color: bisque;
}

