
// COLORS
$color-primary: #fff;
$color-background-primary: #fefff2;
$color-grey-light-1: #eee;
$color-red: #bc1414;
$color-red-2: #f31e1e;
$color-red-3: rgb(63, 15, 15);
$register-green: #2ecc71;
$button-color: rgb(33, 17, 123);
$header-color-blue: rgba(0, 110, 255, 0.815);
$header-color: crimson;
$color-btn-text-2: rgb(182, 154, 29);

// FONT SIZE
$default-font-size: 1.6rem;

// BUTTONS VARIABLE
$color-opacity: 0.95;
$color-gap: 0.02;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
