
  
header {
    background-color: #bc1414;
    margin: auto -1.6rem;
    padding: 1.6rem 3.2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  
  
    & h1 {
        color: $color-primary;
        font-family: "McLaren", cursive;
        font-weight: 200;
    }
}
  