.App {
  text-align: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.App-header {
  background-color: #fefff2;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: rgba(0, 110, 255, 0.815);
}

.App-link {
  color: #61dafb;
}
